{{  test }}
<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="Servers">
                <a href="#abc">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div ng-app="myApp" class="table-responsive">

                   <table class="table">
                        <tbody>
                        <tr ng-repeat="x in pagedItems[currentPage]">
                            <td>{{x.Name}}</td>
                            <td>{{x.Ip}}</td>
                            <td><span class="{{x.test1}}"><i class="fa {{x.test2}}"></i></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget-footer>
                <ul class="pagination pagination-sm pull-right">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range(pagedItems.length)"
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </rd-widget-footer>
        </rd-widget>
    </div>
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="Striped Servers">
                <a href="#">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr ng-repeat="x in pagedItems[currentPage]">
                            <td>{{x.Name}}</td>
                            <td>{{x.Ip}}</td>
                            <td><span class="{{x.test1}}"><i class="fa {{x.test2}}"></i></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <!--<rd-widget-footer>-->
                <!--<ul class="pagination pagination-sm pull-right">-->
                    <!--<li ng-class="{disabled: currentPage == 0}">-->
                        <!--<a href ng-click="prevPage()">« Prev</a>-->
                    <!--</li>-->
                    <!--<li ng-repeat="n in range(pagedItems.length)"-->
                        <!--ng-class="{active: n == currentPage}"-->
                        <!--ng-click="setPage()">-->
                        <!--<a href ng-bind="n + 1">1</a>-->
                    <!--</li>-->
                    <!--<li ng-class="{disabled: currentPage == pagedItems.length - 1}">-->
                        <!--<a href ng-click="nextPage()">Next »</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<div class="clearfix"></div>-->
            <!--</rd-widget-footer>-->
        </rd-widget>
    </div>
</div>