<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>
<ul class="nav nav-list">
    <li class="active">
        <a href="#/"  class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text">首页</span>
        </a>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text">检索</span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
           <li>
                <a href="#/index">
                    <i class="icon-double-angle-right"></i>
                    用户
                </a>
            </li>
            <li>
                <a href="#/tables">
                    <i class="icon-double-angle-right"></i>
                    配置
                </a>
            </li>
            <li>
                <a href="#/abc">
                    <i class="icon-double-angle-right"></i>
                    源IP
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    目标IP
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                     终端IP
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    时间
                </a>
            </li>

            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    全文检索
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-list"></i>
            <span class="menu-text">录像</span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="#.html">
                    <i class="icon-double-angle-right"></i>
                    登录会语
                </a>
            </li>

            <li>
                <a href="#.html">
                    <i class="icon-double-angle-right"></i>
                    字符
                </a>
            </li>
            <li>
                <a href="#.html">
                    <i class="icon-double-angle-right"></i>
                    数据
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span class="menu-text"> 监控 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    登录
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span class="menu-text"> 策略 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    全局策略
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    用户策略
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    agmt
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span class="menu-text"> 管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    备份
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    用户
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    角色
                </a>
            </li>
            
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    许可
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    升级
                </a>
            </li>
            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    日志
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="#">
                            <i class="icon-leaf"></i>
                            操作
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-pencil"></i>
                            系统
                            <b class="arrow icon-angle-down"></b>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    集群
                </a>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->
<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>